# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage

# Virtual Environment
backend/venv/
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/

# Environment Variables
.env
.env.*